/* src/components/Footer.css */

.footer {
  background: #111827;
  text-align: center;
  color: #ccc;
  padding: 20px;
  margin-top: 40px;
}

.footer h3 {
  color: white;
  margin-bottom: 8px;
}

.footer p {
  font-size: 14px;
}
